.navigation-section {
 position: relative;
 width: 100vw;

 .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: $pad-double 0;
  top: 0;
  width: 100%;

  .language-switcher {
   text-align: center;

   h3 {
    margin-top: 0;
    margin-bottom: $mrg-onehalf;
   }

   a {
    position: relative;
    transition: $transition-secondary;

    img {
     transition: $transition-tertiary;
    }

    &:hover {
     opacity: 0.8;

     img {
      transform: scale(1.1);
     }
    }
   }

   a:last-child {
    margin-left: $mrg-half;
   }
  }

  .logo {
   margin: $mrg-onehalf 0;
   position: relative;
  }

  .navigation {
   position: relative;
   width: 50%;

   ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    li {
     @include subtitle;
     color: $primary-color;
     font-size: toRem(1.1);
     margin: 0 $pad-quarter;

     a {
      color: $primary-color;
      position: relative;
      transition: $transition-tertiary;

      &::after {
       background-color: #fff;
       bottom: -3px;
       content: '';
       height: 2px;
       left: 0%;
       position: absolute;
       transition: $transition-long;
       width: 0;
      }

      &:hover {
       color: $tertiary-color;
      }

      &:hover::after,
      &:focus::after {
       width: 90%;
      }
     }
    }
   }
  }
  @media (max-width: 1023px) {
   .navigation {
    width: 70%;

    ul {
     li {
      margin: $pad-quarter;
     }
    }
   }
  }

  @media (max-width: 767px) {
   .logo {
    img {
     height: 175px;
     width: 350px;
    }
   }

   .navigation {
    width: 90%;
   }
  }
 }
}
