// Main screen dimensions
$breakpoint-width_small: 320px; // Screen width for small mobile devices
$breakpoint-height_small: 480px; // Screen height for small mobile devices
$breakpoint-width_medium: 768px; // Screen width for medium mobile devices and vertical tablets
$breakpoint-height_medium: 1024px; // Screen height for medium mobile devices and vertical tablets
$breakpoint-width_large: 1023px; // Screen width for horizontal tablets and laptop screens
$breakpoint-height_large: 768px; // Screen height for horizontal tablets and laptop screens
$breakpoint-width_xlarge: 1280px; // Screen width for desktop screens and high-resolution computers
$breakpoint-height_xlarge: 800px; // Screen height for desktop screens and high-resolution computers
$breakpoint-width_xxlarge: 1440px; // Screen width for large desktop screens and high-resolution computers
$breakpoint-height_xxlarge: 900px; // Screen height for large desktop screens and high-resolution computers
