$primary-bg: #111111;
$secondary-bg: #222222;
$tertiary-bg: #00001a;
$quaternary-bg: #1b1b1b;

$primary-color: #fcfdfd;
$secondary-color: #35a9fd;
$tertiary-color: #6a767f;
$quaternary-color: #1b1b1b;

$primary-bg_button: #2da6fd;
$primary-bg_button-hover: #008bee;
