// Shadow
$primary-shadow: 0px 8px 16px rgba($secondary-bg, 0.6);
$secondary-shadow: 0 3px 0.5px rgba($primary-bg_button, 0.55), 0 3px 0.5px rgba($primary-bg_button, 0.55);
$tertiary-shadow: 0px 0px 15px rgba($primary-bg_button, 0.55);
//*> Text shadow
$primary-text-shadow: 0.35px 0.35px 0.9px rgba($primary-color, 0.65), 0.35px 0.35px 0.9px rgba($primary-color, 0.65),
 0.35px 0.35px 0.9px rgba($primary-color, 0.65);
